/* @import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js");
@import url("https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"); */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.PostInList {
    font-family: 'Dosis', sans-serif;
    /* border-bottom: 2px solid lightgray;
    border-width: 100%; */
   
}

button {
    font-family: 'Dosis', sans-serif;
    
}
h2{
    margin: 0;
    padding-left: 25px;
}
p {
    margin: 0;
    padding-left: 25px;
}
i.material-icons {
    position: absolute;
    right: 5px;
}
.postContainer {
    position: relative;
    width: 600px;
    height: auto;
    background-color: white;
    border: 2px solid black;
}