@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

html {
    background-color: #f3f1f7;
}
.SocialPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    /* background-color: #f3f1f7; */
    font-family: 'Dosis', sans-serif;
}
.myThoughts {
    color: #03a9f4;
    font-size: 24px;
    font-family: Homemade Apple;
}
button {
    width: 75%;
    height: 50px;
    background-color: #03a9f4;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.PostInList {
    border: 2px solid black;
    width: 75%;
    background-color: white;
}