@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.SocialPosts {
    font-family: 'Dosis', sans-serif;
}

.PostForm {
    font-family: 'Dosis', sans-serif;
}

.PostList {
    font-family: 'Dosis', sans-serif;
}